@model IEnumerable<QLTHPT.Models.THONGTINDAOTAO>

@{
    ViewBag.Title = "Index";
}

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h4><strong>THÔNG TIN ĐÀO TẠO</strong></h4>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <strong>@Html.ActionLink("Tạo Mới", "Create", new { id = ViewBag.CB_MA })</strong>
                            </div>
                            <table id="table" data-resizable="false" data-toggle="table" data-pagination="true" data-search="true" data-cookie="true" data-cookie-id-table="saveId" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã TTĐT
                                        </th>
                                        <th>
                                            Hình Thức
                                        </th>
                                        <th>
                                            Chuyên Ngành
                                        </th>
                                        <th>
                                            Văn Bằng
                                        </th>
                                        <th>
                                            Cán Bộ
                                        </th>
                                        <th data-width="150px"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TTDT_MA)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HINHTHUC.HT_TEN)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CHUYENNGANH.CN_TEN)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VANBANG.VB_TEN)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CANBO.CB_HOTEN)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", "THONGTINDAOTAOs", new { id = item.TTDT_MA })" class="btn btn-custon-rounded-three btn-success"><i class="fa fa-info-circle"></i></a>
                                                <a href="@Url.Action("Edit", "THONGTINDAOTAOs", new { id = item.TTDT_MA })" class="btn btn-custon-rounded-three btn-warning"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("Delete", "THONGTINDAOTAOs", new { id = item.TTDT_MA })" class="btn btn-custon-rounded-three btn-danger"><i class="fa fa-trash"></i></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br/>
                            <div class="form-group" style="text-align: left;">
                                <div style=" padding-left: 0px;">
                                    <a href="@Url.Action("Index", "CANBOes")" class=" btn btn-custon-rounded-three btn-primary"><i class="fa fa-undo"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
