@model QLTHPT.Models.TIETHOC

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h4><strong>Chỉnh Sửa</strong></h4>

                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.TH_MA)
                                <div class="form-group-inner">
                                    @Html.LabelFor(model => model.TH_MA, "Mã", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TH_MA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.TH_MA, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    @Html.LabelFor(model => model.TH_TEN, "Lớp", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TH_TEN, new { htmlAttributes = new { @class = "form-control" } })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.TH_TEN, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu" class="btn btn-default" /> |
                                        <a href="@Url.Action("Index", "TIETHOCs")" class=" btn btn-custon-rounded-three btn-primary"><i class="fa fa-undo"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


