@model IEnumerable<QLTHPT.Models.BACLUONG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BL_TEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BL_TEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BL_MA }) |
            @Html.ActionLink("Details", "Details", new { id=item.BL_MA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BL_MA })
        </td>
    </tr>
}

</table>
