@model IEnumerable<QLTHPT.Models.THONGTINLUONG>

@{
    ViewBag.Title = "Index";
}

    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h4><strong>THÔNG TIN LƯƠNG</strong></h4>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <strong>@Html.ActionLink("Tạo Mới", "Create", new { id = ViewBag.CB_MA })</strong>

                                </div>
                                <table id="table" data-toggle="table" data-search="true" data-key-events="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th>
                                                Mã
                                            </th>
                                            <th>
                                                Ngày Nhận Lương
                                            </th>
                                            <th>
                                                Hệ Số Lương
                                            </th>
                                            <th>
                                                Bậc Lương
                                            </th>
                                            <th data-width="250px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TTL_MA)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TTL_NGAYNHANLUONG)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TTL_HESOLUONG)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BACLUONG.BL_TEN)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Details", "THONGTINLUONGs", new { id = item.TTL_MA })" class="btn btn-custon-rounded-three btn-success"><i class="fa fa-info-circle"></i></a>
                                                    <a href="@Url.Action("Edit", "THONGTINLUONGs", new { id = item.TTL_MA })" class="btn btn-custon-rounded-three btn-warning"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "THONGTINLUONGs", new { id = item.TTL_MA })" class="btn btn-custon-rounded-three btn-danger"><i class="fa fa-trash"></i></a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>