@model QLTHPT.Models.KHENTHUONG

@{
    ViewBag.Title = "Create";
}

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h4><strong>Tạo Mới</strong></h4>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group-inner" style="text-align: left;">
                                @Html.LabelFor(model => model.KT_MA, "Mã", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KT_MA, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.KT_MA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group-inner" style="text-align: left;">
                                @Html.LabelFor(model => model.KT_THANHTICH, "Thành Tích", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KT_THANHTICH, new { htmlAttributes = new { @class = "form-control" } })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.KT_THANHTICH, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group-inner" style="text-align: left;">
                                @Html.LabelFor(model => model.KT_NGAYKHENTHUONG, "Ngày Khen Thưởng", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KT_NGAYKHENTHUONG, new { htmlAttributes = new { @class = "form-control" } })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.KT_NGAYKHENTHUONG, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group-inner" style="text-align: left;">
                                @Html.LabelFor(model => model.KT_GHICHU, "Ghi Chú", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KT_GHICHU, new { htmlAttributes = new { @class = "form-control" } })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.KT_GHICHU, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <div style=" padding-left: 30px;">
                                    <input type="submit" value="Tạo" class="btn btn-default" />
                                    <a href="@Url.Action("Index", "KHENTHUONGs")" class=" btn btn-custon-rounded-three btn-primary"><i class="fa fa-undo"></i></a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>