@model IEnumerable<QLTHPT.Models.LOP>

@{
    ViewBag.Title = "Index";
}

    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h4><strong>LỚP</strong></h4>

                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <strong>@Html.ActionLink("Tạo Mới", "Create")</strong>
                                </div>
                                <table id="table" data-resizable="false" data-toggle="table" data-pagination="true" data-search="true" data-cookie="true" data-cookie-id-table="saveId" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th data-width="100px">
                                                Mã
                                            </th>
                                            <th>
                                                Tên
                                            </th>
                                            <th data-width="150px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LOP_MA)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LOP_TEN)
                                                </td>

                                                <td>
                                                    <a href="@Url.Action("Details", "LOPs", new { id = item.LOP_MA })" class="btn btn-custon-rounded-three btn-success"><i class="fa fa-info-circle"></i></a>
                                                    <a href="@Url.Action("Edit", "LOPs", new { id = item.LOP_MA })" class="btn btn-custon-rounded-three btn-warning"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("Delete", "LOPs", new { id = item.LOP_MA })" class="btn btn-custon-rounded-three btn-danger"><i class="fa fa-trash"></i></a>

                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
